<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="4" android:versionName="1.0.3" android:compileSdkVersion="28" android:compileSdkVersionCodename="9" package="com.android.carrierconfig" coreApp="true" platformBuildVersionCode="28" platformBuildVersionName="9">
    <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="28"/>
    <application android:allowBackup="false" android:directBootAware="true">
        <service android:name=".DefaultCarrierConfigService" android:permission="android.permission.BIND_CARRIER_SERVICES">
            <intent-filter>
                <action android:name="android.service.carrier.CarrierService"/>
            </intent-filter>
        </service>
    </application>
</manifest>
